In [29]:
import save as sv
import pandas as pd

In [30]:
df = sv.lectureFichier('./data_clean_personaliser')

In [31]:
df

                 reviewer                   movie rating
0              sharonrota                             10
1       moviereviewer6700      brooklyn nine nine     10
2              nadyaruray                 kingdom      6
3            drszilviavas                    code     10
4           tierney-steve       the invisible man      2
...                   ...                     ...    ...
440770              nferr  quatermass and the pit      6
440771              m-fan  quatermass and the pit      9
440772        mw_director  quatermass and the pit      9
440773          Snake-666  quatermass and the pit      8
440774      henry-girling  quatermass and the pit      8

[440775 rows x 3 columns]

In [32]:
df1 = pd.read_csv('data.csv')

In [33]:
df1

,Series Title,Year Released,Content Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,Breaking Bad,2008,18+,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,Game of Thrones,2011,18+,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
2,Rick and Morty,2013,18+,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
3,Stranger Things,2016,16+,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
4,The Boys,2019,18+,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video
...,...,...,...,...,...,...,...,...
12348,A Fishing Story with Ronnie Green,2017,NaN,-1,"2017,Prime Video",A Fishing Story with Ronnie Green has one or m...,2Seasons,"Prime Video,fuboTV"
12349,CMT Most Shocking,2003,NaN,-1,-1,-1,-1,-1
12350,NHL Road to the Outdoor Classics,2016,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix"
12351,Addy Media,2018,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video
12352,My Dream Derelict Home,2014,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video"

In [34]:
df1["Series Title"]=df1["Series Title"].str.lower()

In [35]:
df1

,Series Title,Year Released,Content Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,breaking bad,2008,18+,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,game of thrones,2011,18+,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
2,rick and morty,2013,18+,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
3,stranger things,2016,16+,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
4,the boys,2019,18+,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video
...,...,...,...,...,...,...,...,...
12348,a fishing story with ronnie green,2017,NaN,-1,"2017,Prime Video",A Fishing Story with Ronnie Green has one or m...,2Seasons,"Prime Video,fuboTV"
12349,cmt most shocking,2003,NaN,-1,-1,-1,-1,-1
12350,nhl road to the outdoor classics,2016,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix"
12351,addy media,2018,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video
12352,my dream derelict home,2014,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video"

In [36]:
df

                 reviewer                   movie rating
0              sharonrota                             10
1       moviereviewer6700      brooklyn nine nine     10
2              nadyaruray                 kingdom      6
3            drszilviavas                    code     10
4           tierney-steve       the invisible man      2
...                   ...                     ...    ...
440770              nferr  quatermass and the pit      6
440771              m-fan  quatermass and the pit      9
440772        mw_director  quatermass and the pit      9
440773          Snake-666  quatermass and the pit      8
440774      henry-girling  quatermass and the pit      8

[440775 rows x 3 columns]

In [39]:
df1 = df1.rename(columns={'Series Title':'movie'})

In [40]:
df1

,movie,Year Released,Content Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,breaking bad,2008,18+,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,game of thrones,2011,18+,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
2,rick and morty,2013,18+,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
3,stranger things,2016,16+,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
4,the boys,2019,18+,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video
...,...,...,...,...,...,...,...,...
12348,a fishing story with ronnie green,2017,NaN,-1,"2017,Prime Video",A Fishing Story with Ronnie Green has one or m...,2Seasons,"Prime Video,fuboTV"
12349,cmt most shocking,2003,NaN,-1,-1,-1,-1,-1
12350,nhl road to the outdoor classics,2016,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix"
12351,addy media,2018,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video
12352,my dream derelict home,2014,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video"

In [43]:
df.merge(df1, how='inner', on='movie')

,reviewer,movie,rating,Year Released,Content Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,nadyaruray,kingdom,6,2019,18+,85,"Action & Adventure,Drama",In this zombie thriller set in Korea's medieva...,2Seasons,Netflix
1,nadyaruray,kingdom,6,2014,18+,83,"Drama,Sport",A raw family drama set against the world of Mi...,3Seasons,Netflix
2,nadyaruray,kingdom,6,2007,NaN,58,"Drama,Comedy",Kingdom is a British television series produce...,3Seasons,"Free Services,Hulu,AcornTV"
3,nadyaruray,kingdom,6,2012,16+,56,"Action & Adventure,Anime",In the Warring States Period of ancient China ...,3Seasons,"Hulu,Funimation"
4,redhawk-70707,kingdom,5,2019,18+,85,"Action & Adventure,Drama",In this zombie thriller set in Korea's medieva...,2Seasons,Netflix
...,...,...,...,...,...,...,...,...,...,...
262270,ianlouisiana,in the club,4,2014,NaN,46,"Drama,2014",In The Club follows six pregnant women and the...,2Seasons,NaN
262271,hillrosemary,in the club,9,2014,NaN,46,"Drama,2014",In The Club follows six pregnant women and the...,2Seasons,NaN
262272,Sunshine_pink,in the club,1,2014,NaN,46,"Drama,2014",In The Club follows six pregnant women and the...,2Seasons,NaN
262273,darshangood,pete versus life,10,2010,NaN,37,"Comedy,Drama",Pete versus Life is a Channel 4 sitcom created...,2Seasons,Prime Video
262274,hashtagtechnobabble,newsreaders,10,2013,18+,48,"Comedy,2013",Newsreaders is a quarter-hour format American ...,2Seasons,NaN

In [46]:
df = df.merge(df1, how='inner', on='movie').drop(columns=['Year Released','Content Rating','Description','No of Seasons','Streaming Platform'])

In [50]:
df = df.rename(columns={"R Rating":'global rating', "Genre":'genre'})

In [51]:
df

,reviewer,movie,rating,global rating,genre
0,nadyaruray,kingdom,6,85,"Action & Adventure,Drama"
1,nadyaruray,kingdom,6,83,"Drama,Sport"
2,nadyaruray,kingdom,6,58,"Drama,Comedy"
3,nadyaruray,kingdom,6,56,"Action & Adventure,Anime"
4,redhawk-70707,kingdom,5,85,"Action & Adventure,Drama"
...,...,...,...,...,...
262270,ianlouisiana,in the club,4,46,"Drama,2014"
262271,hillrosemary,in the club,9,46,"Drama,2014"
262272,Sunshine_pink,in the club,1,46,"Drama,2014"
262273,darshangood,pete versus life,10,37,"Comedy,Drama"
262274,hashtagtechnobabble,newsreaders,10,48,"Comedy,2013"

In [52]:
sv.sauvegardeFichier("base_de_donnees",df)